{% extends "default.html" %}
{% block content %}
<div class="index">
<div class="stodvar">
{% for i in li %}
<div class="stod">
    <a href="/stod/{{i}}"><img class="logo" src="/static/img/{{i}}.png"></a>
    <h2 class="companynafn"><a href="/stod/{{i}}">{{i}}</a></h2>
</div>
{% endfor %}
</div>
<div class="prices">
<table class="bensin">
    <caption>Lægsta bensínverðið</caption>
    <thead>
        <tr>
            <th>Nafn</th>
            <th>Verð</th>
        </tr>
    </thead>
    <tr>
        <td>{{ verd["bensin"] }}</td>
        <td>{{ bensinverd[verd["bensin"]] }} kr</td>
    </tr>
</table>
<table class="diesel">
    <caption>Lægsta díselverðið</caption>
    <thead>
        <tr>
            <th>Nafn</th>
            <th>Verð</th>
        </tr>
    </thead>
    <tr>
        <td>{{ verd["diesel"] }}</td>
        <td>{{ dieselverd[verd["diesel"]] }} kr</td>
    </tr>
</table>
</div>
</div>

{% endblock %}